.field {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;

  @include onSmallDesktop {
    gap: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;


    @include onTablet {
      font-size: 24px;
    }

    @include onSmallDesktop {
      font-size: 36px;
    }

    @include onBigDesktop {
      font-size: 48px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      display: block;
      height: 1px;
      background-color: $whiteAccent;
      width:100%;
    }

    @include onTablet {
      font-size: 14px;
    }

    @include onSmallDesktop {
      font-size: 16px;
    }

    @include onBigDesktop {
      font-size: 18px;
    }
  }
}
