.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  &__copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;

    @include onTablet {
      font-size: 16px;
    }

    @include onSmallDesktop {
      font-size: 18px;
    }

    @include onBigDesktop {
      font-size: 24px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @include onTablet {
      gap: 20px;
    }

    @include onSmallDesktop {
      gap: 10px;
    }

    @include onBigDesktop {
      gap: 20px;
    }
  }

  &__link {
    width: 35px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transform: scale(1);
    transition: transform $transitionDuration;

    &--instagram {
      background-image: url('../images/icons/instagram_icon.svg');
    }

    &--facebook {
      background-image: url('../images/icons/facebook_icon.svg');
    }

    &--github {
      background-image: url('../images/icons/github_icon.svg');
    }

    @include onSmallDesktop {
      &:hover {
        transform: scale(1.1);
      }

      width: 45px;
      height: 40px;
    }

    @include onBigDesktop {
      width: 65px;
      height: 60px;
    }
  }
}
