.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__github {
    background-image: url('../images/icons/github_icon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

    transition: transform $transitionDuration;
    transform: scale(1);

    @include onSmallDesktop {
      width: 40px;
      height: 40px;

      &:hover {
        transform: scale(1.1);
      }
    }

    @include onBigDesktop {
      width: 60px;
      height: 60px;
    }
  }
}
