.intro {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;

  width: 100%;

  @include onTablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  &__greeting {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;

    @include onTablet {
      margin: 0;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 14px;

    @include onTablet {
      font-size: 18px;
    }

    @include onSmallDesktop {
      font-size: 18px;
    }

    @include onBigDesktop {
      font-size: 26px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 36px;
    color: $blueAccent;
    width: fit-content;
    line-height: 42px;

    @include onTablet {
      font-size: 50px;
      line-height: 60px;
    }

    @include onSmallDesktop {
      font-size: 60px;
      line-height: 75px;
    }

    @include onBigDesktop {
      font-size: 100px;
      line-height: 115px;
    }
  }

  &__line-break {
    display: inline;

    @include onTablet {
      display: block;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    font-weight: 800;
    font-size: 14px;
    color: $whiteAccent;
    text-decoration: none;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $whiteAccent;

      transition: transform $transitionDuration;
      transform-origin: center;
      transform: scale(1);
    }

    @include onTablet {
      margin-top: 20px;
      font-size: 16px;
    }

    @include onSmallDesktop {
      font-size: 18px;

      &:hover::after {
        transform: scale(0);
      }
    }

    @include onBigDesktop {
      font-size: 26px;
    }
  }

  &__photo {
    margin: 0 auto;

    @include onTablet {
      margin: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px;

    @include onTablet {
      max-width: 300px;
      max-height: 375px;
      border-radius: 20px;
    }

    @include onSmallDesktop {
      max-width: 400px;
      max-height: 500px;
      border-radius: 30px;
    }

    @include onBigDesktop {
      max-width: 600px;
      max-height: 750px;
      border-radius: 40px;
    }
  }
}
